################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProductManagement/bin/Debug/net8.0
/ProductManagement/obj
/ProductManagement.Business/bin/Debug/net8.0
/ProductManagement.Business/obj
/ProductManagement.Data/bin/Debug/net8.0
/ProductManagement.Data/obj
/ProductManagement.Providers/bin/Debug/net8.0
/ProductManagement.Providers/obj
/ProductManagemnt.Data/bin/Debug/net8.0
/ProductManagemnt.Data/obj
/.vs/ProductManagement
